@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homepage</h1>
    <p class="lead">Welcome.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default col-sm-6 col-sm-offset-3">
            <div class="panel-body">
                <h2>
                    Admin
                </h2>
                <p>
                    Set up and update database information here.
                </p>
                <p><a class="btn btn-default" href="/Admin">Admin</a></p>
            </div>
        </div>
    </div>
</div>