
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClearChallenderPlayers</title>
</head>
<body>
    <div> 
        <h5>Challenger players removed from db</h5>
    </div>
</body>
</html>
