
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetMatches</title>
</head>
<body>
    <div> 
        <h4>Added matches to matchlist</h4>
    </div>
</body>
</html>
